<section>

    <div class="shadow"></div>

    <div class="container" id="aboutContainer">
        <div class="content opacity">
            <h3 class="title">About
                <div class="border"></div>
            </h3>
            <p class="text">
                My name is Nick Travis and I am a Full-Stack Web Developer based out of San Diego,
                California! Collaborating with talented people to create highly-impacting and user-friendly applications
                is something I'm incredibly passionate about. My curiosity drives me to continuously learn and try new things
                both inside and out of the development environment.<br><br>

                The website is designed to showcase my understanding of developing modern UIs as well as applications for the web.
                Scroll effects were created with the help of Parallas.js. General website design was done using HTML5, CSS3, and Javascript.
                The landing page background was created using Adobe Photoshop and the forms/comment section use PHP on the back-end via the 
                the MERN Stack. <br><br>

                Projects added to the site include: 'Photo portfolio' using Flexbox & lightroom.js, 'Log-in system' and 'Comment section'
                using PHP, MySQL, AJAX & jQuery. The 'Arcade' section was created in HTML Canvas running on PHP & Javascript.
                The site is also fully responsive on most devices. Please mention any issues you discover in the feedback section below.
                Thanks for checking it out! <br>
            </p>
            
                <!-- <button href="./resume-test.pdf">Check out my Resume</button> -->
                <!-- <div class="resumeContainer">
                    <a href="resume-test.pdf">
                        <p>Check out my Resume</p>
                        <embed src="resume-test.pdf" type="application/pdf" width="100%" height="450px"></embed>  -->


                        <!-- <object class="resume" data="resume-test.pdf" type="application/pdf" frameborder="0" scroll="none" onclick="requestFullScreen();"> 
                        </object> -->


                    <!-- </a>
                </div> -->
                <!-- <embed src="resume-test.pdf" type="application/pdf" width="100%" height="600px" />  -->
            
            <!-- <div class="resume"> 
                <a href="./resume-test.pdf">Check out my Resume</a>
                <embed src="./resume-test.pdf/" mimeType="application/pdf" width="100%" height="600px" /> 
            </div> -->

        </div>

        <div id="resume">
            <p>Check out my Resume</p>
            <div class="resumeContainer">
                <a href="assets/resume.pdf">
                    <!-- <p>Check out my Resume</p> -->
                    <embed src="assets/resume.pdf" type="application/pdf" width="100%" height="450px"></embed> 
                    <!-- <iframe src="https://127.0.0.1:5000/resume-test.pdf" title="summin bouta truck" height="600" width="325"></iframe> -->
                    <!-- <object class="resume" data="resume-test.pdf" type="application/pdf" frameborder="0" scroll="none" onclick="requestFullScreen();"> 
                    </object> -->
                </a>
            </div>
        </div>
        

        
        <div class="content-right">
            <!-- <div class="imgContainer"> -->
            <img id="portrait" src="images/pigeon.jpg" alt="Portrait">

            <!-- </div> -->
            <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Ipsum vitae, possimus veritatis dolorum cupiditate perspiciatis qui
                 magnam molestias, sint praesentium accusantium asperiores tenetur,
                  commodi voluptates?
           </p> -->
           <h3>Nick Travis</h3>
           <p>
            A full stack web developer who is proficient in HTML5, CSS3, 
            and Javascript ES2018. My passion to learn and hunger for 
            success helps me to create powerful high-quality web applications 
            using the latest technologies.
           </p>
        </div>
        




            <!-- <div class="imgContainer">
                <img src="images/pigeon.jpg" alt="">
            </div> -->
        
    </div>
    <!-- <hr> -->

    

</section>


<!-- ******************************************************************************************************************************* -->
   <section id="gallery">

    <div class="page_break">
        <!-- <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1> -->
    </div>
    <div class="page_break-2">
    </div>
    <div class="page_break-3">
    </div>

        <div class="daddy">

            <br>
        
            <div class="plsWork">
                <h1 >Projects</h1>
            </div>
        
            <!-- <hr> -->
            <!-- <br> -->
                <div class="gallery">
                    <div class="image-gallery">
                        
                        <a href="to-do_list.html" class="img-1">
                            <ion-icon name="expand"><i class="fas fa-plus-square"></i>
                            </ion-icon>
                        </a>
                        <a href="fetchCSV.html" class="img-2">
                            <ion-icon name="expand">View</ion-icon>
                        </a>
                        <a href="ISSindex.html" class="img-3">
                            <ion-icon name="expand"></ion-icon>
                        </a>
                        <a href="snake-game.html" class="img-4">
                            <ion-icon name="expand"></ion-icon>
                        </a>
                        <a href="pokemon.html" class="img-5">
                            <ion-icon name="expand"></ion-icon>
                        </a>
                        <a href="images/img-6.jpg" class="img-6 centered">
                            <div class="centered">The bird is the word.</div>
                            <ion-icon name="expand"></ion-icon>
                        </a>
                        <a href="images/img-7.jpg" class="img-7 centered">
                            <div class="centered">COMING SOON...</div>

                            <ion-icon name="expand"></ion-icon>
                        </a>
                        <a href="images/img-8.jpg" class="img-8 centered">
                            <div class="centered">COMING SOON...</div>
                            <ion-icon name="expand"></ion-icon>
                        </a>
                    </div>
                        <!-- <div class="slider">
                            <p>
                                <i class="material-icons shortcut">arrow_left</i>NASA Spacestation API<i class="material-icons shortcut">arrow_right</i>
                            </p>
                            <div class="sliderEllipse">
                                <button class="carousel__indicator current-slide"></button>
                                <button class="carousel__indicator"></button>
                                <button class="carousel__indicator"></button>
                            </div>
                    </div> -->
                <!-- <div class="gallery">
                    <div class="image-gallery">
                        <a href="ISSindex.html" class="img-1">
                            
                        </a>
                        <a href="fetchCSV.html" class="img-2">
                            <a href="images/img-2.jpg" data-lightbox="portfolio" class="img-2"> -->
                            <!-- <ion-icon name="expand-outline"></ion-icon> 
                        </a>
                        <a href="ISSindex.html" class="img-3">
                        </a>
                        <a href="images/img-4.jpg" data-lightbox="portfolio" class="img-4">
                            <ion-icon name="expand"></ion-icon>
                        </a>
                        <a href="images/img-5.jpg" data-lightbox="portfolio" class="img-5">
                            <ion-icon name="expand"></ion-icon>
                        </a>
                        <a href="images/img-6.jpg" data-lightbox="portfolio" class="img-6">
                            <ion-icon name="expand"></ion-icon>
                        </a>
                        <a href="images/img-7.jpg" data-lightbox="portfolio" class="img-7">
                            <ion-icon name="expand"></ion-icon>
                        </a>
                        <a href="images/img-8.jpg" data-lightbox="portfolio" class="img-8">
                            <ion-icon name="expand"></ion-icon>
                        </a>
                    </div>
                </div> -->
            <!-- <br> -->
            <!-- <hr> -->
            <!-- <br> -->

            <div class="carousel">
                <button class="carousel_btn--left">
                    <i class="material-icons">arrow_back_ios_new</i>
                </button>
                <button class="carousel_btn--right">
                    <i class="material-icons">arrow_forward_ios</i>
                </button>
                <!-- <button class="carousel_button"></button> -->
                <div class="carousel_track-container" id="displayShadow">
                    
                    <ul class="carousel_track card">
                         <li class="carousel_slide card_inner current-slide">
                             <a href="/about">
                                 <img class="carousel_images card_face card_face--front" src="images/todo-bg.PNG" alt="">
                             </a>
                             <div class="card_face card_face--back">
                                 <img id="orb-bg" src="images/metalorb-circle4.png" alt="">
                             </div>
                         </li>
                         <li class="carousel_slide">
                             <a href="/nasa-csv-data">
                                 <img class="carousel_images" src="images/chart-link.jpg" alt="">
                             </a>
                         </li>
                         <li class="carousel_slide">
                             <a href="/ISS-location">
                             <!-- <a href="to-do_list.html"> -->
                                 <img class="carousel_images" src="images/ISS-link.png" alt="">
                             </a>
                         </li>
                         <li class="carousel_slide">
                             <a href="/snake-game">
                                 <img class="carousel_images" src="images/snake-bg.jpg" alt="">
                             </a>
                         </li>
                         <li class="carousel_slide">
                             <a href="/pokedex">
                                 <img class="carousel_images" src="images/pokemon-bg.jpg" alt="">
                             </a>
                         </li>
                         <li class="carousel_slide">
                             <a href="#">
                                 <img class="carousel_images" src="images/img-6.jpg" alt="">
                                 <div class="centered" style="color: aliceblue;">COMING SOON...</div>
                             </a>
                         </li>
                         <li class="carousel_slide">
                             <a href="#">
                                 <img class="carousel_images" src="images/img-7.jpg" alt="">
                                 <div class="centered" style="color: aliceblue;">COMING SOON...</div>
                             </a>
                         </li>
                         <li class="carousel_slide">
                             <a href="#">
                                 <img class="carousel_images" src="images/img-8.jpg" alt="">
                                 <div class="centered" style="color: aliceblue;">COMING SOON...</div>
                             </a>
                         </li>
                         
                    </ul>
                </div>
        
                <div class="slider">
                    <div class="project_list">
                        <button class="carousel_button--left is-hidden">
                            <i class="material-icons">arrow_left</i>
                        </button>
                        <div class="project_title" id="project_title">
                            <h4>Space Station API</h4>
                        </div> 
                        <button class="carousel_button--right">
                            <i class="material-icons">arrow_right</i>
                        </button>
                    </div>
                 <!-- <p>
                     <i class="material-icons shortcut">arrow_left</i>NASA Spacestation API<i class="material-icons shortcut">arrow_right</i>
                 </p> -->
                <div class="nav_track-container">
                    <div class="nav_track">
                        <div class="sliderEllipse">
                            <button class="carousel__indicator current-slide"></button>
                            <button class="carousel__indicator"></button>
                            <button class="carousel__indicator"></button>
                            <button class="carousel__indicator"></button>
                            <button class="carousel__indicator"></button>
                            <button class="carousel__indicator"></button>
                            <button class="carousel__indicator"></button>
                            <button class="carousel__indicator"></button>
                        </div>
                    </div>
                </div>
                 </div>
        
            </div>
                
            
        </div>

    <!-- PROJECT CAROUSEL -->
   <!-- <div class="carousel">
    <button class="carousel_button"></button>
    <div class="carousel_track-container">
        <ul class="carousel_track">
             <li class="carousel_slide">
                 <a href="#">
                     <img class="carousel_images" src="images/img-1.jpg" alt="">
                 </a>
             </li>
             <li class="carousel_slide">
                 <a href="#">
                     <img class="carousel_images" src="images/img-2.jpg" alt="">
                 </a>
             </li>
             <li class="carousel_slide">
                 <a href="#">
                     <img class="carousel_images" src="images/img-3.jpg" alt="">
                 </a>
             </li>
             <li class="carousel_slide">
                 <a href="#">
                     <img class="carousel_images" src="images/img-4.jpg" alt="">
                 </a>
             </li>
             <li class="carousel_slide">
                 <a href="#">
                     <img class="carousel_images" src="images/img-5.jpg" alt="">
                 </a>
             </li>
             <li class="carousel_slide">
                 <a href="#">
                     <img class="carousel_images" src="images/img-6.jpg" alt="">
                 </a>
             </li>
             <li class="carousel_slide">
                 <a href="#">
                     <img class="carousel_images" src="images/img-7.jpg" alt="">
                 </a>
             </li>
             <li class="carousel_slide">
                 <a href="#">
                     <img class="carousel_images" src="images/img-8.jpg" alt="">
                 </a>
             </li>
             
        </ul>
    </div>

    <div class="slider">
     <p>
         <i class="material-icons shortcut">arrow_left</i>NASA Spacestation API<i class="material-icons shortcut">arrow_right</i>
     </p>
     <div class="sliderEllipse">
         <button class="carousel__indicator current-slide"></button>
         <button class="carousel__indicator"></button>
         <button class="carousel__indicator"></button>
     </div>
     </div>

</div> -->
<!-- ------------------------------------------------------------------------------------------------ -->

</section>

   <section id="contact">
    <div class="contact">
        <!-- <div class="btnRow">
            <button class="button" id="registerBtn" onclick="hi">Register</button>
            <button class="loginBtn">Log In</button>
        </div> -->
        <div class="content">
            <!-- <h2>Contact Me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptas libero minus.
                 Fugiat ratione consequuntur cum. Iusto vitae dolor minus quo laborum ipsum ut.
            </p> -->
                <!-- <br> -->
                <!-- <center><hr></center> -->

            <div id="video_box">
                <div id="video_overlays">
                    <h1 class="overlay_title" style="color: white;">Weather Forecast API</h1>
                    <div class="weatherContent">
                        <h1>Forecast</h1>
                        <form action="" onsubmit="return false">
                            <input type="text" class="search" placeholder="Search by city name">
                            <button type="submit" class="weatherBtn">Submit</button>
                            <p class="error"></p>
                        </form>
                        <section id="forecast">
                            <div class="data_container">
                                <div class="symbol">
                                    <img src="" alt=""
                                    class="weather-icon">
                                </div>
                                <div class="location">
                                    <div class="city">San Diego, California</div>
                                    <div class="date">Thursday, 29 Apr 2021</div>
                                </div>
                                <div class="current">
                                    <div class="temp">Temp: 70 <span>°F</span></div>
                                    <div class="weather">Weather: Sunny</div>
                                    <div class="temp-range">Temp Range: 58°F / 76°F</div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="weatherContent2">
                        <h3>32 Deg</h3>
                    </div>
                </div>
                <div class="video_bg"> 
                    
                        <video id="orbitVideo" onclick="this.play();" width="100%" loop muted>
                        <!-- <video id="orbitVideo" preload="auto" width="100%" loop muted> -->
                            <source src="video/orbit.mp4" type="video/mp4">
                        </video>
                    
                </div>
            </div>
            <!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->
            <div id="greeting">
                <h2>Contact <span style="color: #faa700;">Me</span></h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptas libero.
                </p>
            </div>
            
        </div>
        <div class="container" style="background: linear-gradient(to bottom, #000, #777);">
            <div id="triangle-left"></div>
            <div class="contactInfo">
                <div class="box" style="flex-direction: row-reverse;">
                    <!-- <div class="icon"><i class="fas fa-map-marked-alt"></i></div> -->
                    <div class="box-left">
                        <a class="icon" href="https://goo.gl/maps/BUMEQsc6kLyVtQKM9">
                            <span class="fas fa-map-marked-alt"></span>
                        </a>
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <center><hr></center>
                        <a href="https://goo.gl/maps/BUMEQsc6kLyVtQKM9">5555 San Luis Obispo Pl,<br>San Diego, California,<br>92107</a>
                    </div>
                </div>
                <div class="box" style="justify-content: space-evenly;">
                    <div class="box-left">
                        <a class="icon" href="tel:1-636-358-4101">
                            <span class="fas fa-phone"></span>
                        </a>
                    </div>  
                    <div class="text">
                        <h3 style="color: #000;">Phone</h3>
                        <center><hr></center>
                        <!-- <p>636-358-4101</p> -->
                        <a href="tel:1-636-358-4101">(636) 358-4101</a>
                    </div>
                </div>
                <div class="box" style="flex-direction: row-reverse;">
                    <!-- <div class="icon"><i class="fas fa-envelope"></i></div> -->
                    <div class="box-left">
                        <a class="icon" href="mailto:nickjtravis.nt@gmail.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                    </div>
                    <div class="text">
                        <h3>Email</h3>
                        <center><hr></center>
                        <!-- <p>nickjtravis.nt@gmail.com</p> -->
                        <a href="mailto:nickjtravis.nt@gmail.com">nickjtravis.nt@gmail.com</a>
                    </div>
                </div>
            </div>
            <hr style="color: #faa700; height: 1px; padding-bottom: 2rem; margin-top: 2rem; background: transparent; height: 3px;">
            <div class="contactForm">
                <form>
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea required="required" style="height: 6rem;"></textarea>
                        <span>Type your Message...</span>
                    </div>
                    <div class="checkBox">
                        <div class="aaa">
                            <input type="checkbox" />
                            <span class="checkbox-title">send HTML Email</span>
                        </div>
                        <div class="aaa">
                            <input type="checkbox" />
                            <span class="checkbox-title">Send me site announcements</span>
                        </div>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" value="Send">
                    </div>
                    
                </form>
            </div>
            
        </div>

        <br>
        <br>
        <hr>
        <br>
        <div class="suggestion-title">
            <h1 style="font-weight: 600; text-transform: uppercase;">You like what you see?</h1>
            <h3>Please add your suggestions & feedback below</h3>
        </div>
    </div>
</section>

<!-- <%- include('./partials/comments.ejs') %> -->

<!-- ------------------------------------------------------------------------------------------------------------- -->
<!-- <div id="comment-section" style="width: 100%; height: 200px; background: #e3e3e3;"> -->
    <div id="comment-section">
        <% const userComments = [ user._id, comments.comment]; %>

        <div class="row">
            <div class="comment">
                <h2>Comments Section</h2>
                <form>
                    <textarea class="form-control" id="comment-form" placeholder="Add public comment" cols="30" rows="4"></textarea>
                    <button class="addCommentBtn" type="button">Add comment</button>
                </form>
            </div>
        </div>
        <div class="row2">
            <h2>332 Comments</h2>
            <div class="userComments">
                <% const replies = [ user._id, comments.createdAt ]; %>

                <% if (comments.length > 0) { %>
                    <% comments.forEach(comment => { %>
                        <div class="comment">
                            <div class="user"><%=comment.name %><span class="time"><%= comment.date %></span><button class="replyBtn">reply</button></div>
                            <div class="userComment"><%=comment.comment %></div>
                            <!-- <div class="replies"> -->
                                
                        </div>
                    <% }); %>
                    <% } else { %>
                    <p style="color: aliceblue;">There are no comments to display...</p>
                <% } %>

                <% if (replies.length > 0) { %>
                    <% replies.forEach(reply => { %>
                        <div class="reply">
                            <div class="user"><%= user._id %><span class="time"><%= user.time %>></span></div>
                            <div class="userComment"><%=user.email %></div>
                        </div>
                        <!-- <div class="reply">
                            <div class="user"><span class="time">2021-09-09</span></div>
                            <div class="userComment">reply</div>
                        </div> -->
                        
                    <% }); %>
                <% } %>
            </div>
                
                <!-- <div class="comment">
                    <div class="user">Nick T. <span class="time">2021-09-09</span><button class="replyBtn">reply</button></div>
                    <div class="userComment">Youtube comment sectionkhdfgksldfhlgdfkghfldskghfdlkhfkshgfskldfh</div>
                    <div class="replies">
                        <div class="reply">
                            <div class="user">Nick T. <span class="time">2021-09-09</span></div>
                            <div class="userComment">reply</div>
                        </div>
                        <div class="reply">
                            <div class="user">Nick T. <span class="time">2021-09-09</span></div>
                            <div class="userComment">reply</div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="regComment">
                        <div class="user">Nick T. <span class="time">2021-09-09</span><button class="replyBtn">reply</button></div>
                        <div class="userComment">1738</div>
                    </div>
                    <div class="replies">
                        <div class="reply">
                            <div class="user">Nick T. <span class="time">2021-09-09</span></div>
                            <div class="userComment">im lie hey waddup hello</div>
                        </div>
                    </div>
                </div> -->
            </div> 
        </div>
    
        <div class="footer-shadow">
            <button class="showMoreBtn"></button>
            <h3>more comments &#8643;&#8642;</h3>
        </div>
    </div>

       





